# Ignore datasets and large files
*.csv
*.h5
*.pkl
*.png

# Ignore Python virtual environments and caches
venv/
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore specific large files (if any)
Cleaned-dataset.csv
Extracted-dataset.csv
correlation_barplot.png